
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Montserrat:wght@200;400;700&family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root {
  --rojo: #ff6347;
  --verde: rgba(102, 211, 107, 0.959);
  --white: white;
  --white-transp: rgb(240, 231, 215);
  --marron:rgba(0, 0, 0, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Estilos GENERALES */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100vh;
  color: var(--white);
  text-align: center;
  background-attachment: fixed;
  background-image: url('images/background-pizza.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--white-transp);
}

h1, h2, h3 {
  font-family: 'Birthstone Bounce', cursive;
  /* font-family: 'La Belle Aurore', cursive; */
  letter-spacing: .1rem;
  margin: 3rem 0 3rem;
  font-weight: 500;
}

h1 {
  font-size: 4.5rem;
  color: var(--white-transp);
  line-height: 4.5rem;
  margin: 6rem 0 4rem;
}

h2 {
  color: var(--white);
  font-size: 3rem;
  letter-spacing: .1rem;
}

h3 {
  font-size: 3rem;
}

p {
  display: block;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--white-transp);
  width: 85%;
  margin: 1rem auto;
}

span {
  font-weight: 500;
}

span.color--blanco {
  color: white;
}
span.color--rojo {
  color: var(--rojo);
}

span.color--verde {
  color: var(--verde);
}

span {
  color: var(--azul);
}

main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  background-color: var(--marron);
}
.imagen__mobile {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

.imagen__desktop {
  display: none;
}

i {
  color: var(--verde);
  font-size: 2.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.sub{
  text-transform: uppercase;
  color: white;
}

/* Sección INICIO */
.hero--items {
  margin-top: 4rem;
}

.titulo {
  color: var(--white)
}

.grid__recetas {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  max-width: 960px;
}

.recetas__img span {
  font-size: 1.1rem;
}

.img__grid {
  width: 100%;
  transition: all .5s ease-in-out;
  border-radius: 1rem;
  border: 1px dashed var(--white-transp);
}

.img__grid:hover {
  border: none;
  border: 3px solid var(--white-transp);
}

.recetas__img {
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
}

.recetas__img:hover {
  transform: scale(110%);
  filter: brightness(120%);
}

.hero--items p {
  padding-top: 1rem;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 3rem;
}

.sub--index {
  color: var(--verde);
}

/* Sección RECETAS */
nav{
  margin-bottom: 6rem;
}

.menu {
  padding: 1rem 3rem;
  width: 100%;
  border-bottom: 1px dashed var(--rojo);
  border-top: 1px dashed var(--rojo);
  background-color: var(--marron);
}

.menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu li{
  text-transform: uppercase;
  /* margin: 0 2rem; */
  color: var(--white-transp);
  font-size: 1.6rem;
}

.menu li a {
  text-align: center;
  color: var(--white-transp);
  text-transform: uppercase;
}

.menu li a:hover {
  color: var(--verde);
}

.menu li a:active {
  color: var(--rojo);
}

.menu i {
  color: var(--white-transp);
  font-size: 2rem;
}
.menu i:hover{
  color: var(--verde)
}

.receta__ingredientes {
  display: flex;
  justify-content: center;
  border: 1px dashed var(--rojo);
  border-radius: 1rem;
  padding: 2rem 0;
  min-width: 325px;
  margin: auto;
}

li {
  text-align: left;
  list-style: none;
  font-size: 1.6rem;
  line-height: 3rem;
  color: var(--white-transp);
}

li i {
  font-size: 1.4rem;
  margin-right: 5px;
  color: var(--rojo);
}

.preparacion {
  width: 100%;
  padding: 0 2rem;
}
.preparacion ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
}

.preparacion__detalle h2 {
  padding-top: 2rem;
}

.preparacion__detalle li {
  list-style: decimal;
  font-size: 1.5rem;
  width: 85%;
  margin-top: 1rem;
  text-align: left;
  line-height: 2.3rem;
}

button {
  display: block;
  background-color: transparent;
  color: var(--white-transp);
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1px solid var(--white-transp);
  margin: 5rem auto;
  padding: 1rem 1.5rem;
  width: 24rem;
  height: auto;
  border-radius: 3rem;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

button:hover {
  background-color: var(--white-transp);
  color: var(--marron);
  font-weight: bold;
}

footer {
  width: 100%;
  background-color:var(--marron);
  padding: 2rem;
  border-top: 1px dashed var(--white-transp);
}

footer a {
  font-size: 1.2rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formulario {
  width: 90%;
}

.formulario h2 {
  margin: 1rem 0 3rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.4rem;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px dashed var(--rojo);
  font-size: 1.4rem;
  background-color: transparent;
  font-family: inherit;
  color: var(--rojo);
}

#image {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 1.2rem;
}

.btn {
  color: var(--rojo);
  font-size: 1.6rem;
  margin-right: 1rem;
}

.btn__up {
  color: var(--rojo);
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
  font-size: 4rem;
  border: none;
}

.btn__up:hover {
  color: var(--verde);
}

.ir__arriba {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px){
  .imagen__mobile {
    display: none;
  }
  .imagen__desktop {
    display: block;
    width: 100%;
  }

  h1{
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }

  p {
    min-width: 60rem;
    max-width: 100rem;
    font-size: 1.8rem;
  }

  .menu ul {
    justify-content: center;
  }

  .menu li {
    margin: 0 4rem;
  }

  .receta {
    width: 100%;
  }

  .receta__ingredientes {
    max-width: 60rem;
    padding: 2rem 0;
  }

  .receta__ingredientes li {
    font-size: 1.8rem;
  }

  li i{
    margin-right: 1.2rem;
  }

  .preparacion ol {
    max-width: 120rem;
  }

  .preparacion li {
    font-size: 1.8rem;
    max-width: 96rem;
  }

  .recetas__img span {
    font-size: 1.4rem;
  }

  .preparacion__detalle li {
    text-align: justify;
  }

  .grid__recetas {
    gap: 20px;
  }

  .formulario {
    max-width: 700px;
    margin: 0 auto;
  }

  .btn__up {
    bottom: 2rem;
    right: 3rem;
  }
}